@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap');

:root {
    --black: #1b1b1b;
    --black-900: #2b2b2f;
    --black-800: #343434;
    --black-700: #282E34;
    --black-500: #474954;
    --yellow-900: #F09F59;
    --yellow-800: #ffb83d;
    --yellow-700: rgb(255, 200, 87);
    --yellow-200: #f5e0c9;
    --grey: #868686;
    --red: #c32e2e;
    --white: #fff7fe;
    --white-trans: rgba(255, 255, 255, 0.5);
    --yellow-trans: rgba(255, 200, 87, 0.8);
}

/* For general content */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--black);
    height: 200vh;
    color: var(--white);
    font-family: "fira code";
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: opacity(0.9);
}

p {
    font-family: "Fira Code";
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Press Start 2P";
    z-index: 2;
}

h1 {
    color: var(--white-trans);
    font-size: 2rem;
}

h2 {
    color: var(--grey);
    font-size: 1.8rem;
    padding: 10px 0;
}


a {
    color: var(--yellow-700);
    text-decoration: none;
}

a:active, a:focus {
    color: var(--yellow-900);
}

a:visited {
    color: var(--yellow-trans);
}

a:hover {
    text-decoration: underline dashed;
    color: var(--white);
    animation: glow 3s ease-in-out infinite alternate;
}


ul {
    line-height: 200%;
    letter-spacing: .7px;
    font-family: "Fira Code";
    list-style-type: '> ';
    margin-left: 5%;
}

li {
    color: var(--grey);
}

li span {
    color: var(--white);
}

/* for specific content */


/* nav header icons */


nav {
    position: fixed;
    margin-right: 10px;
    padding: 20px 20px;
    top: 0;
    right: 0;
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: all .8s;
    backdrop-filter: blur(30px);
    height: 50px;
    z-index: 1000;
}


.corner-cons img {
    transition: all .8s;
    position: relative;
    padding: 5px 15px;
    width: 30px;
    filter: brightness(1);
}

.corner-cons img:hover {
    filter: brightness(1.4);
    margin-top: 10px;
}



/* hero */
.hero {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: wrap;
    inline-size: 100%;
}

.hero h1.glow {
    margin-top: 20vh;
}

.hero p {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

.hero p:last-child {
    text-align: center;
    color: var(--grey);
    font-size: 1.3rem;
}


@media screen and (max-width: 800px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p:first-child {
        font-size: 1rem;
    }

    .hero p:last-child {
        font-size: .8rem;
        color: var(--white-trans);
        text-align: center;
    }

    .hero-content {
        font-size: .2rem;
    }
}

.hero-content {
    font-size: .6em;
}



/* stat sheet */

#stats-title {
    text-align: center;
    margin: 60px;
    margin-top: 30vh;
}

.stats-container {
    display: flex;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 30px;
    max-width: 1200px;
    overflow: wrap;
}

.stats-container * {
    border-radius: 10px;
    padding: 10px;
}


.box {
    background-color: var(--black-900);
    box-shadow: 3px 3px 0 var(--yellow-900), 7px 7px 0 var(--yellow-700);
    outline: 2px solid var(--yellow-900);
    overflow: hidden;
}

.stats-bio-text {
    width: 100%;
    padding: 20px;
    min-width: 30vw;
}

.pix-me {
    min-width: min(200px, 50vw);
    width: 200px;
    max-width: 100%;
    object-fit: cover;
}

.stats-contact {
    flex: 1;
    min-width: min(350px, 80vw);
}

.stats-contact h2 {
    align-self: start;
}

.light-text {
    font-size: .8rem;
    color: var(--white-trans);
}

@media screen and (max-width: 750px) {
    .pix-me {
        order: -1;
    }

    .stats-contact {
        font-size: 70%;
    }

    .light-text {
        font-size: .6rem;
        color: var(--white-trans);
    }

    .box {
        max-width: 80vw;
    }
}

/* glow stuffles */
.glow {
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0px #fff, 0 0 5px rgba(255, 255, 255, .4), 0 0 10px var(--white-trans), 0 0 12px #e68200, 0 0 16px #db2a2a, 0 0 60px #e65400, 0 0 70px #e68e00;
    }

    to {
        text-shadow: 0 0 0px #fff, 0 0 20px #ffc14d, 0 0 10px #faaeae, 0 0 20px #c32e2e, 0 0 60px #eab05a, 0 0 70px #ff944d, 0 0 80px #ff9d4d;
    }
}


/* arrow bounce */

.bounce {
    animation: bounce 2s infinite;
}

.arrow {
    color: var(--white);
    cursor: pointer;
}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-2vh);
    }

    60% {
        transform: translateY(-1vh);
    }
}



/* scroll bar */

::-webkit-scrollbar {
    position: relative;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(186, 128, 48, 0.4);
}

/* general small phones */
@media screen and (max-width: 700px) {
    h1 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
    }

    nav {
        padding: 10px;
        margin: 0;
    }
}