@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chonburi&family=Press+Start+2P&family=Yeseva+One&display=swap');

:root {
    --black: #1b1b1b;
    --black-900: #2B2C2F;
    --black-800: #343434;
    --black-500: #474954;
    --yellow-900: #F09F59;
    --yellow-700: #FFC857;
    --yellow-200: #f5e0c9;
    --red: #c32e2e;
    --white: #fff7fe;
    --white-trans: rgba(255, 255, 255, 0.5);
    ;
}


/* For general content */

body {
    background: var(--black);
    height: 200vh;
    max-width: 100vh;
    color: var(--white);
}

canvas {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: opacity(0.9);
}

p {
    font-family: "fira code";
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Press Start 2P";
}

h1 {
    color: var(--white-trans);
    font-size: 2rem;
}


/* for specific content */

.hero {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero-content {
    font-size: .6em;
}

/* glow stuffles */
.glow {
    text-align: center;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0px #fff, 0 0 20px #fff, 0 0 10px var(--white-trans), 0 0 10px #e68200, 0 0 10px #db2a2a, 0 0 60px #e65400, 0 0 70px #e68e00;
    }

    to {
        text-shadow: 0 0 0px #fff, 0 0 20px #ffc14d, 0 0 10px #faaeae, 0 0 20px #c32e2e, 0 0 60px #eab05a, 0 0 70px #ff944d, 0 0 80px #ff9d4d;
    }
}