@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chonburi&family=Press+Start+2P&family=Yeseva+One&display=swap');

:root {
    --black: #1b1b1b;
    --black-900: #2b2b2f;
    --black-800: #343434;
    --black-700: #282E34;
    --black-500: #474954;
    --yellow-900: #F09F59;
    --yellow-700: rgb(255, 200, 87);
    --yellow-200: #f5e0c9;
    --red: #c32e2e;
    --white: #fff7fe;
    --white-trans: rgba(255, 255, 255, 0.5);
    --yellow-trans: rgba(255, 200, 87, 0.8);
}

/* For general content */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--black);
    height: 200vh;
    color: var(--white);
    font-family: "fira code";
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: opacity(0.9);
}

p {
    font-family: "fira code";
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Press Start 2P";
}

h1 {
    color: var(--white-trans);
    font-size: 2rem;
}


/* for specific content */


/* nav header icons */


nav {
    position: fixed;
    margin-right: 10px;
    padding-top: 1vw;
    top: 0;
    right: 0;
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: all .8s;
    backdrop-filter: blur(30px);
    height: 50px;
    z-index: 1000;
}


.corner-cons img {
    transition: all .8s;
    position: relative;
    padding: 5px 15px;
    width: 30px;
    filter: brightness(1);
}

.corner-cons img:hover {
    filter: brightness(1.4);
    margin-top: 10px;
}



/* hero */
.hero {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3.5rem;
}

.hero p {
    font-size: 1.2rem;
    text-align: center;
}

.hero p:last-child {
    font-size: .8rem;
    color: var(--white-trans);
    text-align: center;
}


@media screen and (max-width: 700px) {
    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p:first-child {
        font-size: 1rem;
    }
}

.hero-content {
    font-size: .6em;
}



/* info */

.box {
    background-color: var(--white);
    box-shadow: 8px 8px 0 var(--black-800), 15px 15px 0 var(--black);
    color: var(--black);
}

.pix-bio {
    background: linear-gradient(120deg, var(--yellow-700) 0%, var(--red) 100%);
    margin: 20px;
    padding: 40px;
    width: 820px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}


.pix-me {
    align-self: flex-end;
    float: right;
    width: 200px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 100px;
}

.pix-text {
    height: fit-content;
    padding: 20px 50px;
    max-width: 45vw;
    border-radius: 10px;
}


@media screen and (max-width: 800px) {
    .pix-bio {
        background: linear-gradient(120deg, var(--red) 0%, var(--yellow-900) 100%);
        border-radius: 10px;
        max-width: 75vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .pix-text {
        color: var(--black);
        background-color: var(--white);
        outline: none;
        padding: 50px;
        max-width: 45vw;
        border-radius: 10px;
        margin: 0;
    }


    .pix-me {
        align-self: center;
        float: none;
        order: -1;
    }
}



/* glow stuffles */
.glow {
    text-align: center;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0px #fff, 0 0 20px #fff, 0 0 10px var(--white-trans), 0 0 10px #e68200, 0 0 10px #db2a2a, 0 0 60px #e65400, 0 0 70px #e68e00;
    }

    to {
        text-shadow: 0 0 0px #fff, 0 0 20px #ffc14d, 0 0 10px #faaeae, 0 0 20px #c32e2e, 0 0 60px #eab05a, 0 0 70px #ff944d, 0 0 80px #ff9d4d;
    }
}


/* arrow bounce */

.bounce {
    animation: bounce 2s infinite;
}

.arrow {
    color: var(--white);
    cursor: pointer;
}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-2vh);
    }

    60% {
        transform: translateY(-1vh);
    }
}



/* scroll bar */

::-webkit-scrollbar {
    position: relative;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(186, 128, 48, 0.4);
}