@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Limelight&family=Poiret+One&family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');
:root {
    --background: #282826;
    --nav: 21, 19, 21;
    --nav-text: #ca8531;
    --warm-text: rgba(255, 89, 0, 0.743);
    --body-text: rgb(201, 187, 178);
    --solid-gold: rgb(231, 176, 12);
    --gold: linear-gradient( to right, #6f5527 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #b98e44 100%);
    --solid-bronze: rgb(119, 50, 27);
    --white: #fff;
    --link: rgb(46, 229, 211);
}

html {
    scroll-behavior: smooth;
    overflow-wrap: anywhere;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background);
}

i.material-symbols-rounded {
    font-size: 150%;
    vertical-align: sub;
}

body {
    overflow-y: overlay;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    color: var(--body-text);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover,
a:active,
a:visited {
    text-decoration: underline;
    text-decoration-style: dashed;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

p {
    letter-spacing: .7px;
    word-spacing: 1px;
    margin: 5%;
    font-size: calc(1em+3vmin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Code";
    font-weight: bold;
    margin: 5%;
    font-size: 3em;
    margin-top: 8%;
    text-decoration: 2px dashed var(--body-text);
}

h3 {
    font-size: 2em;
}

h4 {
    font-weight: normal;
    font-size: 1.8em;
}

h1.title {
    -webkit-background-clip: text;
    font-family: "Limelight";
    font-weight: bold;
    font-size: max(min(3em, 25vw), 40px);
    color: transparent;
    background-image: var(--gold);
    text-align: center;
    align-self: center;
    margin-bottom: 1em;
}

ul {
    line-height: 200%;
    letter-spacing: .7px;
    font-family: "Fira Code";
    list-style-type: '> ';
    margin-left: 5%;
}

li {
    color: var(--solid-gold);
    /* Bullet Color */
}

li span {
    color: var(--body-text);
    /* Text Color */
}


/* navbar */

nav {
    position: fixed;
    right: 10px;
    color: var(--nav-text);
    font-size: 0.6em;
    white-space: nowrap;
    z-index: 999;
    padding: 1em;
}

.topnav {
    height: 100vh;
    font-size: 1.3em;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.topnav:not(.fade) a,
.topnav a:not(.sequence) {
    font-weight: bold;
    background-color: rgba(var(--nav), .95);
    margin: 10px;
    border: 1px solid var(--nav-text);
    transition: 1.2s;
    border-radius: 10em;
    margin-right: 1em;
    font-size: 1em;
    color: var(--text);
    padding: 1em;
    text-decoration: none;
    display: none;
}

.fade a:not(.icon) {
    font-weight: bold;
    background-color: rgba(var(--nav), .98);
    margin: 10px;
    border: 1px solid var(--nav-text);
    transition: 1.2s;
    border-radius: 10em;
    margin-right: 1em;
    font-size: 1em;
    color: var(--text);
    padding: 1em;
    text-decoration: none;
    display: visible;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeOutBottom;
}

.topnav a:hover {
    color: var(--lighted-text);
    text-shadow: var(--warm-text) 0 0 20px;
}

.topnav a.icon {
    border-radius: 90em;
    display: block;
    padding: 0.3em;
    padding-top: 0.5em;
}

.topnav.responsive a {
    display: block;
    text-align: left;
}


/* hamburger */

.fadeInBottom {
    animation-duration: 1s;
    animation-fill-mode: both;
    display: inline-block;
    animation-name: fadeInBottom;
}

a.icon {
    width: calc(1.5em + 2vw);
    height: calc(1.5em + 2vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ham {
    width: calc(1.5em + 2vw);
    height: calc(1.5em + 2vw);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--nav-text);
    stroke-width: 7;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 110;
}

.ham4 .middle {
    stroke-dasharray: 40 110;
}

.ham4 .bottom {
    stroke-dasharray: 40 110;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .middle {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.container-header {
    transition: all 2.3s;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-bottom: 50px;
}


/* header */

.header-graphic {
    background-image: url("/static/images/header.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    animation-duration: 1s;
    transition: all 2.3s;
    box-shadow: rgba(var(--nav) 0.25) 0px 25px 50px -12px;
    background-color: var(--background);
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-graphic:hover {
    transform: scale(1.02);
}


/* about */

.about-intro {
    margin-bottom: 30vmin;
}

.prof-photo {
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 20vmax;
    height: 30vmax;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    box-shadow: rgba(240, 153, 46, 0.4) 5px 5px, rgba(240, 133, 46, 0.3) 10px 10px, rgba(240, 143, 46, 0.2) 15px 15px, rgba(240, 143, 46, 0.1) 20px 20px, rgba(240, 143, 46, 0.05) 25px 25px;
}

.deco-div {
    overflow: hidden;
    border-radius: 1px;
    align-self: center;
    width: 80%;
    border: 15px solid transparent;
    outline: 2px solid var(--solid-gold);
    outline-offset: -10px;
    background: linear-gradient(var(--nav-text) 0 0) top, linear-gradient(var(--solid-gold) 0 0) left, linear-gradient(var(--nav-text) 0 0) bottom, linear-gradient(var(--solid-gold) 0 0) right;
    background-size: 200% 2px, 2px 200%;
    background-color: rgba(var(--nav), 0.5);
    background-origin: padding-box;
    background-repeat: no-repeat;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.deco-div p {
    font-size: 1em;
    text-align: left;
    margin-top: -2em;
}

.about-me {
    padding-top: 0;
}


/* deco box */

.deco-box {
    margin: 5vw;
    margin-bottom: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    min-width: 150px;
    min-height: 150px;
    border: 2px solid var(--nav-text);
    background-color: var(--background);
    /* change the #282826 colour here so that it's the same as the background */
    box-shadow: 10px 10px 0px 2px var(--background), 12px 12px 0px 1px var(--solid-bronze), -10px -10px 0px 2px var(--background), -12px -12px 0px 1px var(--solid-bronze), 0px 0px 0px 8px var(--nav-text);
    transition: all .5s;
}

.deco-box:before {
    content: "";
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 150px;
    min-height: 150px;
    box-shadow: 0px 0px 0px 2px var(--solid-gold), 0px 0px 0px 1.9vw var(--background), 0px 0px 0px 2vw var(--solid-gold);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.deco-box:hover {
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.deco-box * {
    text-align: center;
    transition: all .5s;
    font-weight: bold;
}

.deco-box:hover p {
    font-size: 1.1em;
    color: var(--nav-text);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.box-lineup {
    padding: 10%;
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}


/* forms */

form {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

form.about-email {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

div.email-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form.about-email * {
    margin: 1vmin;
    width: 70vw;
}

form button {
    font-size: 1em;
    font-family: "Fira Code", sans-serif;
    padding: 10px;
    background-color: var(--nav-text);
    color: var(--background);
    border: none;
    border-radius: 10px;
}

form button:hover {
    box-shadow: 0px 0px 5px var(--solid-gold);
}

form lable {
    font-size: larger;
}

textarea,
form input {
    background-color: rgb(var(--nav));
    border: none;
    border-radius: 10px;
    padding: 1em;
    color: var(--body-text);
    font-family: "Fira Code", sans-serif;
}

textarea:focus,
input:focus {
    box-shadow: 0px 0px 10px var(--solid-gold);
}


/* scroll bar */

::-webkit-scrollbar {
    position: relative;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(var(--nav), 0.2);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--nav), .5);
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(186, 128, 48, 0.4);
}


/* arrow bounce */

.bounce {
    animation: bounce 2s infinite;
}

.arrow {
    cursor: pointer;
}


/* contact */

li span {
    text-align: right;
}


/* hr content*/

hr {
    margin-top: 4vh;
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: .3em double rgba(120, 78, 51, 0.605);
    color: rgba(224, 187, 135, 0.646);
    text-align: center;
}

hr:after {
    content: "♢";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.5em;
    padding: 0 0.45em;
    background-color: var(--background);
}

footer hr:after {
    background-color: rgba(var(--nav), 1);
}

footer {
    align-items: flex-end;
    height: max(20vh, auto);
    font-size: 1.3em;
    padding: 1%;
    position: relative;
    bottom: 0;
    max-width: 100vw;
    justify-content: center;
    text-align: center;
    background-color: rgba(var(--nav), 1);
}


/* keyframe animations */

@keyframes fadeUp {
    from {
        opacity: .4;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOutBottom {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(140%);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-2vh);
    }
    60% {
        transform: translateY(-1vh);
    }
}

@media only screen and (min-width: 600px) {
    /* small screen veiw */
}