{% extends "base.html" %} {% block content%}
<script type="text/javascript" src="/static/homepage_scripts.js"></script>




<header class="container-header">
    <div class="header-graphic">

        <div class="deco-div">

            <h1 class="title">Shanti S.</h1>
            <p>I do <span class="txt-rotate" data-period="2000" data-rotate='[ "web design.", "python.", "node js.", "database integration.","fun stuff!" ]'></span></p>

            <h1 class="title arrow bounce" title="Scroll Down" onclick="window.scrollBy(0, window.innerHeight);">↓</h1>
            <p>scroll down, learn more.</p>

        </div>

    </div>
</header>


<hr>
<div class="about-me">

    <div>
        <div class="about-intro">
            <h2>About Me</h2>
            <img class="prof-photo" src="static\images\me-photo.jpg" />
            <p>Hi, I'm Shanti. I was born and raised in Canada, and I like doing things with computers.</p>
            <p>I'm currently a British Columbia Institute of Technology student studying Computer Information Technology.</p>
        </div>
        <div>

            <h3>Get in Contact</h3>
            <ul>
                <li>Name: <span>Shanti Stein-Gagnon</span></li>
                <li>Location: <span>Vancouver, Canada</span></li>
                <li>Email: <span>Fishfinna12@gmail.com</span></li>
                <li>Phone: <span>250-895-9055</span></li>
                <li>GitHub: <span><a href="https://github.com/Fishfinna">Fishfinna</a></span></li>
                <li>LinkedIn: <span><a href="https://www.linkedin.com/in/shanti-sg/">shanti-sg</a></span></li>

            </ul>

        </div>

    </div>




    <h4>Send me an Email</h4>
    <p>Ask me anything or just say hi!</p>


    <form class="about-email" action="https://formsubmit.co/fishfinna12@gmail.com" method="POST">
        <!-- honeypot -->
        <input type="text" name="_honey" style="display:none">

        <!-- disable captcha -->
        <input type="hidden" name="_captcha" value="false">

        <input type="hidden" name="_invalid" value="false">

        <input type="hidden" name="_next" value="https://shanti-sg.herokuapp.com/">

        <div class="email-content">
            <lable for="email">Return Email:</lable>
            <input type="email" id="return" name="email"></input>
            <lable for="comments">Message:</lable>
            <textarea name="comments" id="comments" rows="5"></textarea>
            <button>Send It Off</button>
        </div>
    </form>
</div>

<hr>

<div class="project-container">

    <h2 class="title">Projects</h2>
    <h3>Websites</h3>

    <div class="card-container">
        <div class="card">
            <div class="img-container">
                <img class="card-img" src="/static/images/adoptables.png">
            </div>

            <p class="lighter">A Pet Adoption Website</p>

            <h4>Adoptables</h4>

            <p>
                A pet Adoption app called adoptables that was created with a team of six people, where I acted as scrum master and completed the CSS and back end flask code.
            </p>
            <div>
                <a href="https://adoptables-app.herokuapp.com/"><button>View Page</button></a>
                <a href="https://github.com/Fishfinna/ACIT2911-PROJECT"><button>View Code</button></a>
            </div>
        </div>


        <div class="card react">
            <div class="img-container">
                <img class="card-img" src="/static/images/react.png">
            </div>

            <p class="lighter">A React Application </p>

            <h4>Calculator</h4>

            <p>
                A React based Calculator application that can be used for simple calculations. Created with the goal of learning react, JSX, and practicing with javascript.
            </p>
            <div>
                <a href="https://fishfinna.github.io/React-Calculator/"><button>View Page</button></a>
                <a href="https://github.com/Fishfinna/React-Calculator"><button>View Code</button></a>
            </div>
        </div>
    </div>




    <h3>Video Games</h3>
    <div class="card-container">
        <div class="large-card card">
            <div class="img-container large-card-img-container">
                <img class="card-img large-card-img" src="/static/images/booper.png">
            </div>
            <p class="lighter">A Pygame Videogame</p>

            <h4>Boopers!</h4>

            <p>
                Boopers is a Pong-like video game that I created using Pygame and OOP coding methodologies. It features my own original music and three game modes: Free Play which is PVP without an end, Ranked which is PVP where the first player to 10 points wins, and
                AI where a player can fight an AI in a ranked battle. <br> <br> To play, download the .ZIP file below, extract it, and run the .EXE file found inside.
            </p>
            <div>
                <a href="/download/Boopers!.zip"><button>Download</button></a>
            </div>
        </div>
    </div>


    <h3>Design</h3>


</div>
<hr>
<h2 class="title">Work Experience</h2>




<p> hello Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga nostrum, odit numquam ullam laudantium modi fugiat tenetur aperiam accusamus amet rerum id repellendus sed, deleniti natus alias, saepe nobis. praesentium et optio vup t t
    as qui, animi aut harum velit, esse dolor laudantium libero quidem sit at recusandae porro pariatur fugit voluptatum ea distinctio quibusdam! At. Asperiores exercitationem, commodi ut, laudantium obcaecati aut. Eum assumenda aliquid reicdis am am
    e t facilis quae laboriosam. Quisquam velit earum perspiciatis suscipit, quod placeat accusamus. Atque impedit iure fugit minima dolorum vitae explicabo modi obcaecati hi unde cupiditate error facere ipsum repudiandae tempore cumque optioequi! T T
    e mpora atque inventore placeat quis porro, dolore distinctio. Impedit, alias molestias. Cupiditate temporibus fuga possimus eaque molestia ipsa vel facilis optio atque doloribus neque omnis eligendi, accusamus numquam porro similique po si l a l
    a boriosam at impedit. Laborum, temporibus labore, dolor a debitis illum quod quae recusandae, sequi aliquam quas molestias corp sit. Deleniti magnam nam blanditiis sequi fuga, repudiandae quod at eos atque aliquid! Quisquam necessitatibus repellend
    us eos officia est? Placeat deleniti odit ipsa? Similique quisquam magnam, sit deserunt Corrupti eius ex recusandae eveniet blanditiis ipsam esse fuga cum unde! Harum, sapiente aliquid. Maxime hic perspiciatis porro, officia voluptas eveni uod uod
    numquam, ipsum architecto at inventore voluptate ipsam sequi rem prov ab amet quae dolores! Recusandae fuga consectetur voluptatibus. Voluptas, deleniti repudiandae. Temporibus molestiae impedit facilis, quod deleniti placeat cum te m pora c rrupti
    pariatur eum ea, ratione nulla officiis adipisci esse ali earum, blanditiis non esse labore repudiandae. Minima sequi, itaque quod magni beatae natus velit laudantium harum. Praesentium qui nobis error perferendis, voluptatem placeignissi mos mos
    corrupti, vitae eveniet nisi soluta ipsam e illo pariatur maiores.</p>


<h2 class="title">Education</h2>




<p> hello Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga nostrum, odit numquam ullam laudantium modi fugiat tenetur aperiam accusamus amet rerum id repellendus sed, deleniti natus alias, saepe nobis. praesentium et optio vup t t
    as qui, animi aut harum velit, esse dolor laudantium libero quidem sit at recusandae porro pariatur fugit voluptatum ea distinctio quibusdam! At. Asperiores exercitationem, commodi ut, laudantium obcaecati aut. Eum assumenda aliquid reicdis am am
    e t facilis quae laboriosam. Quisquam velit earum perspiciatis suscipit, quod placeat accusamus. Atque impedit iure fugit minima dolorum vitae explicabo modi obcaecati hi unde cupiditate error facere ipsum repudiandae tempore cumque optioequi! T T
    e mpora atque inventore placeat quis porro, dolore distinctio. Impedit, alias molestias. Cupiditate temporibus fuga possimus eaque molestia ipsa vel facilis optio atque doloribus neque omnis eligendi, accusamus numquam porro similique po si l a l
    a boriosam at impedit. Laborum, temporibus labore, dolor a debitis illum quod quae recusandae, sequi aliquam quas molestias corp sit. Deleniti magnam nam blanditiis sequi fuga, repudiandae quod at eos atque aliquid! Quisquam necessitatibus repellend
    us eos officia est? Placeat deleniti odit ipsa? Similique quisquam magnam, sit deserunt Corrupti eius ex recusandae eveniet blanditiis ipsam esse fuga cum unde! Harum, sapiente aliquid. Maxime hic perspiciatis porro, officia voluptas eveni uod uod
    numquam, ipsum architecto at inventore voluptate ipsam sequi rem prov ab amet quae dolores! Recusandae fuga consectetur voluptatibus. Voluptas, deleniti repudiandae. Temporibus molestiae impedit facilis, quod deleniti placeat cum te m pora c rrupti
    pariatur eum ea, ratione nulla officiis adipisci esse ali earum, blanditiis non esse labore repudiandae. Minima sequi, itaque quod magni beatae natus velit laudantium harum. Praesentium qui nobis error perferendis, voluptatem placeignissi mos mos
    corrupti, vitae eveniet nisi soluta ipsam e illo pariatur maiores.</p>




{% endblock %}