{% extends "base.html" %} {% block content%}
<script type="text/javascript" src="/static/homepage_scripts.js"></script>




<header class="container-header">
    <div class="header-graphic">

        <div class="deco-div">

            <h1 class="title">Shanti S.</h1>
            <p>I do <span class="txt-rotate" data-period="2000" data-rotate='[ "web design.", "python.", "node js.", "database integration.","fun stuff!" ]'></span></p>

            <h1 class="title arrow bounce" title="Scroll Down" onclick="window.scrollBy(0, window.innerHeight);">↓</h1>
            <p>scroll down, learn more.</p>

        </div>

    </div>
</header>


<hr>
<div class="about-me">

    <div>
        <div class="about-intro">
            <h2 id="about">About Me</h2>
            <img class="prof-photo" src="static\images\me-photo.jpg" />
            <p>Hi, I'm Shanti. I was born and raised in Canada, and I like doing things with computers.</p>
            <p>I'm currently a British Columbia Institute of Technology student studying Computer Information Technology.</p>
        </div>
        <div>

            <h3>Get in Contact</h3>
            <ul>
                <li>Name: <span>Shanti Stein-Gagnon</span></li>
                <li>Location: <span>Vancouver, Canada</span></li>
                <li>Email: <span>Fishfinna12@gmail.com</span></li>
                <li>Phone: <span>250-895-9055</span></li>
                <li>GitHub: <span><a href="https://github.com/Fishfinna">Fishfinna</a></span></li>
                <li>LinkedIn: <span><a href="https://www.linkedin.com/in/shanti-sg/">shanti-sg</a></span></li>

            </ul>

        </div>

    </div>




    <h4>Send me an Email</h4>
    <p>Ask me anything or just say hi!</p>


    <form class="about-email" action="https://formsubmit.co/fishfinna12@gmail.com" method="POST">
        <!-- honeypot -->
        <input type="text" name="_honey" style="display:none">

        <!-- disable captcha -->
        <input type="hidden" name="_captcha" value="false">

        <input type="hidden" name="_invalid" value="false">

        <input type="hidden" name="_next" value="https://shanti-sg.herokuapp.com/">

        <div class="email-content">
            <lable for="email">Return Email:</lable>
            <input type="email" id="return" name="email"></input>
            <lable for="comments">Message:</lable>
            <textarea name="comments" id="comments" rows="5"></textarea>
            <button>Send It Off</button>
        </div>
    </form>
</div>

<hr>

<div class="project-container">

    <h2 class="title" id="projects">Projects</h2>
    <h3>Websites</h3>

    <div class="card-container">
        <div class="card">
            <div class="img-container">
                <img class="card-img" src="/static/images/adoptables.png">
            </div>

            <p class="lighter">A Pet Adoption Website</p>

            <h4>Adoptables</h4>

            <p>
                A pet Adoption app called adoptables that was created with a team of six people, where I acted as scrum master and completed the CSS and back end flask code.
            </p>
            <div>
                <a href="https://adoptables-app.herokuapp.com/"><button>View Page</button></a>
                <a href="https://github.com/Fishfinna/ACIT2911-PROJECT"><button>View Code</button></a>
            </div>
        </div>


        <div class="card react">
            <div class="img-container">
                <img class="card-img" src="/static/images/react.png">
            </div>

            <p class="lighter">A React Application </p>

            <h4>Calculator</h4>

            <p>
                A React based Calculator application that can be used for simple calculations. Created with the goal of learning react, JSX, and practicing with javascript.
            </p>
            <div>
                <a href="https://fishfinna.github.io/React-Calculator/"><button>View Page</button></a>
                <a href="https://github.com/Fishfinna/React-Calculator"><button>View Code</button></a>
            </div>
        </div>
    </div>




    <h3>Video Games</h3>
    <div class="card-container">
        <div class="large-card card">
            <div class="img-container large-card-img-container">
                <img class="card-img large-card-img" src="/static/images/booper.png">
            </div>
            <p class="lighter">A Pygame Videogame</p>

            <h4>Boopers!</h4>

            <p>
                Boopers is a Pong-like video game that I created using Pygame and OOP coding methodologies. It features my own original music and three game modes: Free Play which is PVP without an end, Ranked which is PVP where the first player to 10 points wins, and
                AI where a player can fight an AI in a ranked battle. <br> <br> To play, download the .ZIP file below, extract it, and run the .EXE file found inside.
            </p>
            <div>
                <a href="/download/Boopers!.zip"><button>Download</button></a>
            </div>
        </div>
    </div>


    <h3>Design</h3>
    <p>I have experience with 3D modeling, 2D digital art, traditional media art, character design, animation, and UI/UX. for more of my work visit my
        <a href="https://www.artstation.com/shanti12">Artstation</a> or <a href="https://www.instagram.com/shanti.star/">Instagram</a> accounts.
    </p>

    <div class="row">
        <div class="column">
            <img src="https://cdnb.artstation.com/p/assets/images/images/036/847/523/medium/shanti-stein-gagnon-asset.jpg?1618799381" alt="3D Character Design">
            <img src="https://cdnb.artstation.com/p/assets/images/images/022/173/759/large/shanti-stein-gagnon-asset.jpg?1574375590" alt="Digital 2D">
        </div>
        <div class="column">
            <img src="static\images\figma.png" alt="figma">
            <img src="static\images\animation.gif" alt="animation and drafting">
        </div>
        <div class="column column-end">
            <img src="https://cdna.artstation.com/p/assets/images/images/033/686/962/medium/shanti-stein-gagnon-asset.jpg?1610312364" alt="Traditional 2D">
            <img src="https://cdnb.artstation.com/p/assets/images/images/022/460/453/large/shanti-stein-gagnon-asset.jpg?1575508656" alt="3D Project Design">
        </div>
    </div>


</div>
<hr>

<div class="education" id="education">
    <h2 class=" title ">Education</h2>

    <h3>Timberline Secondary (2016-2020)</h3>
    <p>I completed post-secondary with a 97% average and 4.0 GPA in 2020. During my time at Timerberline Secondary School I often participated in
        <a href="https://www.sd72.bc.ca/timberline/page/3408/digital-hackerspace">
            Timberline's Digital Hackerspace
        </a> program, participated in
        <a href="https://www.skillscompetencescanada.com/en/event/skills-canada-national-competition-2022/">
            Skills Canada's Digital Art Competition
        </a> in 2018 and 2019.
    </p>

    <h3>BCIT (2021-Present)</h3>
    <p>
        In 2021 I started working towards a <a href="https://www.bcit.ca/programs/computer-information-technology-diploma-full-time-5540dipma/?gclid=CjwKCAjwh-CVBhB8EiwAjFEPGRXJ-pXpwkiWclL8FfhRJ11iXdsiR6EOwHM-9eEPayF5n0OPfp9myRoC4uAQAvD_BwE&gclsrc=aw.ds">
        Computer Information Technology Diploma at British Columbia Institute of Technology.</a> Currently I am a student representative member, enrolled in the CO-OP practicum program, and achieving a 92% GPA.
    </p>

</div>



{% endblock %}