{% extends "base.html" %} {% block content%}
<script type="text/javascript" src="/static/homepage_scripts.js"></script>






<div class="container-compass">
    <div class="compass">

        <div id="cover-title">
            <h1 class="title">Shanti S-G</h1>
            <p>I do <span class="txt-rotate" data-period="2000" data-rotate='[ "web design.", "python.", "node js.", "database integration.","fun stuff!" ]'></span></p>

            <h1 class="title">⮛</h1>
            <p>scroll down, learn more.</p>
        </div>

    </div>
</div>



<h2>Hello</h2>

<p>hello Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga nostrum, odit numquam ullam laudantium modi fugiat tenetur aperiam accusamus amet rerum id repellendus sed, deleniti natus alias, saepe nobis. praesentium et optio vup tt
    as qui, animi au deleniti odit ipsa? Similique quisquam magnam, sit deserunt Corrupti eius ex recusandae eveniet blanditiis ipsam esse fuga cum unde! Harum, sapiente aliquid. Maxime hic perspiciatis porro, officia voluptas eveni uoduod numquam, ipsum
    architecto at inventore volu
</p>

<p>I'm Shanti.<br> I was born and raised in Canada, I like doing things with computers</p>
<div class="box-lineup">
    <div class="deco-box">
        <p>Get in Contact</p>
    </div>
</div>
</div>

<div>
    <div class="image-background">
        <div id="cover-title">
            <h1 class="title">Projects</h1>
        </div>
    </div>
</div>

<p> hello Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga nostrum, odit numquam ullam laudantium modi fugiat tenetur aperiam accusamus amet rerum id repellendus sed, deleniti natus alias, saepe nobis. praesentium et optio vup t t
    as qui, animi aut harum velit, esse dolor laudantium libero quidem sit at recusandae porro pariatur fugit voluptatum ea distinctio quibusdam! At. Asperiores exercitationem, commodi ut, laudantium obcaecati aut. Eum assumenda aliquid reicdis am am
    e t facilis quae laboriosam. Quisquam velit earum perspiciatis suscipit, quod placeat accusamus. Atque impedit iure fugit minima dolorum vitae explicabo modi obcaecati hi unde cupiditate error facere ipsum repudiandae tempore cumque optioequi! T T
    e mpora atque inventore placeat quis porro, dolore distinctio. Impedit, alias molestias. Cupiditate temporibus fuga possimus eaque molestia ipsa vel facilis optio atque doloribus neque omnis eligendi, accusamus numquam porro similique po si l a l
    a boriosam at impedit. Laborum, temporibus labore, dolor a debitis illum quod quae recusandae, sequi aliquam quas molestias corp sit. Deleniti magnam nam blanditiis sequi fuga, repudiandae quod at eos atque aliquid! Quisquam necessitatibus repellend
    us eos officia est? Placeat deleniti odit ipsa? Similique quisquam magnam, sit deserunt Corrupti eius ex recusandae eveniet blanditiis ipsam esse fuga cum unde! Harum, sapiente aliquid. Maxime hic perspiciatis porro, officia voluptas eveni uod uod
    numquam, ipsum architecto at inventore voluptate ipsam sequi rem prov ab amet quae dolores! Recusandae fuga consectetur voluptatibus. Voluptas, deleniti repudiandae. Temporibus molestiae impedit facilis, quod deleniti placeat cum te m pora c rrupti
    pariatur eum ea, ratione nulla officiis adipisci esse ali earum, blanditiis non esse labore repudiandae. Minima sequi, itaque quod magni beatae natus velit laudantium harum. Praesentium qui nobis error perferendis, voluptatem placeignissi mos mos
    corrupti, vitae eveniet nisi soluta ipsam e illo pariatur maiores.</p>


<div>
    <div class="image-background roman">
        <div id="cover-title">
            <h1 class="title">Work Experience</h1>
        </div>
    </div>
</div>



<p> hello Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga nostrum, odit numquam ullam laudantium modi fugiat tenetur aperiam accusamus amet rerum id repellendus sed, deleniti natus alias, saepe nobis. praesentium et optio vup t t
    as qui, animi aut harum velit, esse dolor laudantium libero quidem sit at recusandae porro pariatur fugit voluptatum ea distinctio quibusdam! At. Asperiores exercitationem, commodi ut, laudantium obcaecati aut. Eum assumenda aliquid reicdis am am
    e t facilis quae laboriosam. Quisquam velit earum perspiciatis suscipit, quod placeat accusamus. Atque impedit iure fugit minima dolorum vitae explicabo modi obcaecati hi unde cupiditate error facere ipsum repudiandae tempore cumque optioequi! T T
    e mpora atque inventore placeat quis porro, dolore distinctio. Impedit, alias molestias. Cupiditate temporibus fuga possimus eaque molestia ipsa vel facilis optio atque doloribus neque omnis eligendi, accusamus numquam porro similique po si l a l
    a boriosam at impedit. Laborum, temporibus labore, dolor a debitis illum quod quae recusandae, sequi aliquam quas molestias corp sit. Deleniti magnam nam blanditiis sequi fuga, repudiandae quod at eos atque aliquid! Quisquam necessitatibus repellend
    us eos officia est? Placeat deleniti odit ipsa? Similique quisquam magnam, sit deserunt Corrupti eius ex recusandae eveniet blanditiis ipsam esse fuga cum unde! Harum, sapiente aliquid. Maxime hic perspiciatis porro, officia voluptas eveni uod uod
    numquam, ipsum architecto at inventore voluptate ipsam sequi rem prov ab amet quae dolores! Recusandae fuga consectetur voluptatibus. Voluptas, deleniti repudiandae. Temporibus molestiae impedit facilis, quod deleniti placeat cum te m pora c rrupti
    pariatur eum ea, ratione nulla officiis adipisci esse ali earum, blanditiis non esse labore repudiandae. Minima sequi, itaque quod magni beatae natus velit laudantium harum. Praesentium qui nobis error perferendis, voluptatem placeignissi mos mos
    corrupti, vitae eveniet nisi soluta ipsam e illo pariatur maiores.</p>



<div>
    <div class="image-background forest">
        <div id="cover-title">
            <h1 class="title">Education</h1>
        </div>
    </div>
</div>



<p> hello Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga nostrum, odit numquam ullam laudantium modi fugiat tenetur aperiam accusamus amet rerum id repellendus sed, deleniti natus alias, saepe nobis. praesentium et optio vup t t
    as qui, animi aut harum velit, esse dolor laudantium libero quidem sit at recusandae porro pariatur fugit voluptatum ea distinctio quibusdam! At. Asperiores exercitationem, commodi ut, laudantium obcaecati aut. Eum assumenda aliquid reicdis am am
    e t facilis quae laboriosam. Quisquam velit earum perspiciatis suscipit, quod placeat accusamus. Atque impedit iure fugit minima dolorum vitae explicabo modi obcaecati hi unde cupiditate error facere ipsum repudiandae tempore cumque optioequi! T T
    e mpora atque inventore placeat quis porro, dolore distinctio. Impedit, alias molestias. Cupiditate temporibus fuga possimus eaque molestia ipsa vel facilis optio atque doloribus neque omnis eligendi, accusamus numquam porro similique po si l a l
    a boriosam at impedit. Laborum, temporibus labore, dolor a debitis illum quod quae recusandae, sequi aliquam quas molestias corp sit. Deleniti magnam nam blanditiis sequi fuga, repudiandae quod at eos atque aliquid! Quisquam necessitatibus repellend
    us eos officia est? Placeat deleniti odit ipsa? Similique quisquam magnam, sit deserunt Corrupti eius ex recusandae eveniet blanditiis ipsam esse fuga cum unde! Harum, sapiente aliquid. Maxime hic perspiciatis porro, officia voluptas eveni uod uod
    numquam, ipsum architecto at inventore voluptate ipsam sequi rem prov ab amet quae dolores! Recusandae fuga consectetur voluptatibus. Voluptas, deleniti repudiandae. Temporibus molestiae impedit facilis, quod deleniti placeat cum te m pora c rrupti
    pariatur eum ea, ratione nulla officiis adipisci esse ali earum, blanditiis non esse labore repudiandae. Minima sequi, itaque quod magni beatae natus velit laudantium harum. Praesentium qui nobis error perferendis, voluptatem placeignissi mos mos
    corrupti, vitae eveniet nisi soluta ipsam e illo pariatur maiores.</p>




{% endblock %}